<div class="row margin50">
  <div class="large-12 medium-12 small-12 columns">

    <div class="row">
      <div class="large-6 medium-6 small-12 columns animated bounceInDown">
        <div class="th">
          <%= image_tag("judy.jpg")%><br>
        </div>
      </div>
      <div class="large-6 medium-6 small-12 columns animated bounceInDown" >
        <h3 class="show-for-small">Judy Nguyen<hr/></h3>
        <div class="panel">
          <h4 class="hide-for-small">Judy Nguyen<hr/></h4>
          <p>I am a new developer that's equally enthusiastic about front end and backend.
              I have a decade of experience in IT, small business technical sales and support, and retail operations.
        <h5 class="subheader"></h5>
      </div>

      <div class="row">
        <div class="large-6 medium 6 small-6 columns">
          <div class="panel">
            <p class="subheader"><b>Languages:</b><br> Ruby, HTML, CSS, HAML, JavaScript</p>
            <p class="subheader"><b>Database:</b><br> SQL, PostgresSQL</p>
            <p class="subheader"><b>Software/Tools:</b><br> Rails, Git, Github, Foundation, Rspec, Capybara, Factory Girl</p>
          </div>
        </div>

        <div class="large-6 medium -6 small-6 columns">
          <div class="panel text-center">
            <%= link_to image_tag("github2.png"), "http://www.github.com/judngu" %>
          </div>
          <div class="panel text-center">
            <%= link_to image_tag("twitter.png"), "http://twitter.com/judngu" %>
            <%= link_to image_tag("linkedin.png"), "http://linkedin.com/in/judngu" %>
            <%= link_to image_tag("googleplus.png"), "http://google.com/+JudyNguyenLahaie" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row animated bounceInUp">

    <div class="large-12 mediuem-12 show-for-small columns">
    <h3>Recent Projects:</h3><hr>
  </div>

    <div class="large-3 medium -3 small-6 columns">
      <%= link_to image_tag("pizza.png"), "http://pizzerium.herokuapp.com" %>
      <div class="panel">
        <p>Pizzerium</p>
        <p>A review site specifically for pizza slices.
      </div>
    </div>

    <div class="large-3 medium-3 small-6 columns pa">
      <%= link_to image_tag("socialpath.png"), "http://pizzerium.herokuapp.com" %>
      <div class="panel">
        <p>Social Path</p>
        <p>Sociogram generator web app.</p>
      </div>
    </div>

    <div class="large-3 medium-3 small-6 columns">
      <%= link_to image_tag("mbtaonrails.png"), "http://pizzerium.herokuapp.com" %>
      <div class="panel">
        <p>MBTA on Rails</p>
        <p>MBTA T arrival predictions.</p>
      </div>
    </div>

    <div class="large-3 medium-3 small-6 columns">
      <%= link_to image_tag("judybot.png"), "http://pizzerium.herokuapp.com" %>
      <div class="panel">
        <p>Portfolio</p>
        <p>A one page portfolio page.</p>
      </div>
    </div>

  </div>

    <!-- End Thumbnails -->


    <!-- Footer -->

      <footer class="row">
      <div class="large-12 medium-12 columns"><hr />
          <div class="row">

            <div class="large-6 medium-6 columns">
              <p>judynguyen.me</a>
            </div>

            <div class="large-6 medium-6 columns">
                <ul class="inline-list right animated fadeIn">
                  <li>judyatwork@outlook.com</li>
                  <li>twitter: @judngu</li>
                  <li>github: @github</li>
                  <li></li>
                </ul>
            </div>

          </div>
      </div>
    </footer>

    <!-- End Footer -->


  </div>
</div>

